<div id="<%= dom_id component %>">
  <p>
    <strong>Nome do componente:</strong>
    <%= component.componentName %>
  </p>
  <p>
    <strong>Memória:</strong>
    <%= component.component_validation.component_attribute.memory %>
  </p>
    <p>
    <strong>Marca:</strong>
    <%= component.component_validation.component_attribute.brand %>
  </p>
      <p>
    <strong>CPU Suportado:</strong>
    <%= component.component_validation.component_attribute.cpuSupport %>
  </p>
</div>
