<div id="<%= dom_id computer %>">
  <p>
    <strong>Clientname:</strong>
    <%= computer.clientName %>
  </p>
  <p>
    <strong>Component:</strong>
    <%= computer.component1 %>
  </p>
  <p>
    <strong>Component:</strong>
    <%= computer.component2 %>
  </p>
  <p>
    <strong>Component:</strong>
    <%= computer.component3 %>
  </p>
  <p>
    <strong>Component:</strong>
    <%= computer.component4 %>
  </p>
  <p>
    <strong>Numero de RAMs</strong>
    <%= computer.qntOfSlot %>
  </p>
</div>
