<div id="<%= dom_id component_validation %>">
  <p>
    <strong>Componenttype:</strong>
    <%= component_validation.componentType %>
  </p>
    <p>
    <strong>Memoria:</strong>
    <%= component_validation.component_attribute.memory %>
  </p>
  <p>
    <strong>Marca:</strong>
    <%= component_validation.component_attribute.brand %>
  </p>
    <p>
    <strong>CPU suportado:</strong>
    <%= component_validation.component_attribute.cpuSupport %>
  </p>
</div>
