<p style="color: green"><%= notice %></p>

<%= render @component_validation %>

<div>
  <%= link_to "Edit this component validation", edit_component_validation_path(@component_validation) %> |
  <%= link_to "Back to component validations", component_validations_path %>

  <%= button_to "Destroy this component validation", @component_validation, method: :delete %>
</div>
