<div id="<%= dom_id component_attribute %>">
  <p>
    <strong>Brand:</strong>
    <%= component_attribute.brand %>
  </p>

  <p>
    <strong>Cpusupport:</strong>
    <%= component_attribute.cpuSupport %>
  </p>

  <p>
    <strong>Memoryslot:</strong>
    <%= component_attribute.memorySlot %>
  </p>

  <p>
    <strong>Memorylimit:</strong>
    <%= component_attribute.memoryLimit %>
  </p>

  <p>
    <strong>Video:</strong>
    <%= component_attribute.video  %>
  </p>
  <p>
    <strong>IsGPU?:</strong>
    <%= component_attribute.isGPU  %>
  </p>
  <p>
    <strong>Memory:</strong>
    <%= component_attribute.memory %>
  </p>

</div>
